*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; //10px

  @media only screen and (min-width: 48em) {
    font-size: 100%;
  }
  transition: ease-in-out 0.5s;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: 1.6;
  color: #4e5150;
  padding: 3rem 1.2rem;

  @media only screen and (min-width: 48em) {
    max-width: 48rem;
    margin: auto;
  }
}
